Epoch: 001 cost = 0.32405<br></br>
Epoch: 011 cost = 0.10069<br></br>
Epoch: 021 cost = 0.06607<br></br>
Epoch: 031 cost = 0.04997<br></br>
Epoch: 041 cost = 0.04423<br></br>
Epoch: 051 cost = 0.04007<br></br>
Epoch: 061 cost = 0.03610<br></br>
Epoch: 071 cost = 0.03212<br></br>
Epoch: 081 cost = 0.03288<br></br>
Epoch: 091 cost = 0.02877<br></br>
Epoch: 101 cost = 0.02845<br></br>
Epoch: 111 cost = 0.02791<br></br>
Epoch: 121 cost = 0.02519<br></br>
Epoch: 131 cost = 0.02451<br></br>
Epoch: 141 cost = 0.02363<br></br>
Accuracy:  0.98382

<H1>기본</H1>

<p>Precision 0.999531188957
Recall 0.999973943405
f1_score 0.999752517161</p>

<h2>1024로 늘렸을 때
Precision 0.999947889526
Recall 1.0
f1_score 0.999973944084</h2>

<h1>Precision 0.999505169675
Recall 1.0
f1_score 0.999752523608<h2>

In [1]:
import matplotlib.pyplot as plt
import numpy as np
from numpy import genfromtxt
from imblearn.over_sampling import SMOTE
import tensorflow as tf
%matplotlib inline
import pandas as pd

def feature_normalize(features):
    mu = np.mean(features,axis=0)
    sigma = np.std(features,axis=0)
    return (features - mu)/sigma

def append_bias_reshape(features):
    n_training_samples, n_dim  = features.shape[0], features.shape[1]
    features = np.reshape(np.c_[np.ones(n_training_samples),features],
    	[n_training_samples,n_dim + 1])
    return features

def one_hot_encode(labels):
    n_labels = len(labels)
    n_unique_labels = len(np.unique(labels))
    one_hot_encode = np.zeros((n_labels,n_unique_labels))
    one_hot_encode[np.arange(n_labels), labels] = 1
    return one_hot_encode

In [2]:
df = pd.read_csv('./Data_set.csv',encoding='cp949')

df.AGE = df.AGE.replace('*',0)
df.AGE = pd.Series(df.AGE).convert_objects(convert_numeric=True)
df.AGE = df.AGE.replace(0,df.AGE.mean())
df.AGE

C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.

0         50.000000
1         50.000000
2         60.000000
3         35.000000
4         45.000000
5         45.000000
6         40.000000
7         60.000000
8         40.000000
9         40.000000
10        55.000000
11        40.000000
12        25.000000
13        40.000000
14        25.000000
15        30.000000
16        55.000000
17        60.000000
18        45.000000
19        50.000000
20        35.000000
21        35.000000
22        46.187533
23        46.187533
24        55.000000
25        50.000000
26        60.000000
27        60.000000
28        45.000000
29        30.000000
            ...
100203    50.000000
100204    30.000000
100205    35.000000
100206    50.000000
100207    60.000000
100208    55.000000
100209    45.000000
100210    55.000000
100211    50.000000
100212    55.000000
100213    60.000000
100214    30.000000
100215    45.000000
100216    35.000000
100217    35.000000
100218    50.000000
100219    55.000000
100220    40.000000
100221    50.000000
100222    25.000000
100223    40.000000
100224    40.000000
100225    25.000000
100226    46.187533
100227    55.000000
100228    55.000000
100229    45.000000
100230    45.000000
100231    45.000000
100232    55.000000
Name: AGE, Length: 100233, dtype: float64

In [3]:
#결측 데이터가 많은 column 순으로 데이터 확인
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(6)

                  Total   Percent
TEL_MBSP_GRAD     46015  0.459080
MATE_OCCP_NAME_G  45709  0.456027
PAYM_METD          2833  0.028264
LAST_CHLD_AGE      1027  0.010246
OCCP_NAME_G         464  0.004629
MOBL_PRIN             0  0.000000

In [4]:
df.head()

,CUST_ID,TARGET,BNK_LNIF_CNT,CPT_LNIF_CNT,SPART_LNIF_CNT,ECT_LNIF_CNT,TOT_LNIF_AMT,TOT_CLIF_AMT,BNK_LNIF_AMT,CPT_LNIF_AMT,...,CBPT_MBSP_YN,MOBL_FATY_PRC,TEL_CNTT_QTR,NUM_DAY_SUSP,CRMM_OVDU_AMT,TLFE_UNPD_CNT,LT1Y_MXOD_AMT,PAYM_METD,LINE_STUS,MOBL_PRIN
0,1,0,1,0,0,0,9001,9001,9001,0,...,N,800000,20111,0,0,0,0,O,U,580000
1,2,0,1,0,0,0,24001,0,24001,0,...,N,500000,20143,0,0,0,0,O,U,90000
2,3,0,0,1,3,2,15001,9001,0,3001,...,Y,500000,20103,0,0,0,0,O,U,120000
3,4,1,0,2,4,2,6001,3001,0,3001,...,N,900000,20144,0,540000,0,630000,G,S,320000
4,5,0,4,0,0,0,21001,15001,21001,0,...,Y,800000,20131,0,130000,0,90000,G,U,410000

In [5]:
df.TEL_CNTT_QTR = df.TEL_CNTT_QTR.astype(str)

In [6]:
df.PAYM_METD = df.PAYM_METD.fillna('O')
df.TEL_MBSP_GRAD = df.TEL_MBSP_GRAD.fillna('R')
df.MATE_OCCP_NAME_G = df.MATE_OCCP_NAME_G.fillna('주부')
df.OCCP_NAME_G = df.OCCP_NAME_G.fillna('주부')
df.LAST_CHLD_AGE = df.LAST_CHLD_AGE.fillna(df.LAST_CHLD_AGE.mean())

In [7]:
del df['CUST_ID']
df = pd.get_dummies(df)

In [8]:
labels = df.TARGET
train_x = df.drop('TARGET',axis=1)

In [9]:
normalized_features = feature_normalize(train_x)

In [10]:
normalized_features.head()

,BNK_LNIF_CNT,CPT_LNIF_CNT,SPART_LNIF_CNT,ECT_LNIF_CNT,TOT_LNIF_AMT,TOT_CLIF_AMT,BNK_LNIF_AMT,CPT_LNIF_AMT,CRDT_OCCR_MDIF,SPTCT_OCCR_MDIF,...,TEL_CNTT_QTR_20153,TEL_CNTT_QTR_20154,TEL_CNTT_QTR_20161,TEL_CNTT_QTR_20162,PAYM_METD_G,PAYM_METD_K,PAYM_METD_O,PAYM_METD_R,LINE_STUS_S,LINE_STUS_U
0,0.217651,-0.597403,-0.836987,-0.675509,-0.588512,-0.291335,-0.445368,-0.321119,-0.587052,-0.487735,...,-0.160494,-0.124338,-0.175441,-0.087871,-0.217840,-0.69055,0.823094,-0.192346,-0.13919,0.13919
1,0.217651,-0.597403,-0.836987,-0.675509,-0.470875,-0.399690,-0.288724,-0.321119,-0.621423,-0.487735,...,-0.160494,-0.124338,-0.175441,-0.087871,-0.217840,-0.69055,0.823094,-0.192346,-0.13919,0.13919
2,-1.144305,0.595320,1.797728,2.150968,-0.541457,-0.291335,-0.539365,-0.090898,-0.587052,0.383739,...,-0.160494,-0.124338,-0.175441,-0.087871,-0.217840,-0.69055,0.823094,-0.192346,-0.13919,0.13919
3,-1.144305,1.788044,2.675967,2.150968,-0.612039,-0.363564,-0.539365,-0.090898,-0.587052,0.383739,...,-0.160494,-0.124338,-0.175441,-0.087871,4.590522,-0.69055,-1.214928,-0.192346,7.18441,-7.18441
4,4.303518,-0.597403,-0.836987,-0.675509,-0.494402,-0.219107,-0.320053,-0.321119,-0.587052,-0.487735,...,-0.160494,-0.124338,-0.175441,-0.087871,4.590522,-0.69055,-1.214928,-0.192346,-0.13919,0.13919

In [11]:
sm = SMOTE(ratio=0.4,k=5,kind='regular',random_state=10)
features_res, labels_res = sm.fit_sample(normalized_features, labels)

C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\sklearn\utils\deprecation.py:75: DeprecationWarning: Function _ratio_float is deprecated; Use a float for 'ratio' is deprecated from version 0.2. The support will be removed in 0.4. Use a dict, str, or a callable instead.
  warnings.warn(msg, category=DeprecationWarning)
C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\imblearn\utils\deprecation.py:50: DeprecationWarning: 'k' is deprecated from 0.2 and will be removed in 0.4. Use 'k_neighbors' instead.
  category=DeprecationWarning)

In [12]:
df_1 = pd.DataFrame(features_res)
df_2 = pd.DataFrame(labels_res)
df_2.head()

   0
0  0
1  0
2  0
3  1
4  0

In [13]:
df_2.columns = ['TARGET']
df_final = pd.concat([df_1,df_2],axis=1)
df_final.head()

,0,1,2,3,4,5,6,7,8,9,...,198,199,200,201,202,203,204,205,206,TARGET
0,0.217651,-0.597403,-0.836987,-0.675509,-0.588512,-0.291335,-0.445368,-0.321119,-0.587052,-0.487735,...,-0.124338,-0.175441,-0.087871,-0.217840,-0.69055,0.823094,-0.192346,-0.13919,0.13919,0
1,0.217651,-0.597403,-0.836987,-0.675509,-0.470875,-0.399690,-0.288724,-0.321119,-0.621423,-0.487735,...,-0.124338,-0.175441,-0.087871,-0.217840,-0.69055,0.823094,-0.192346,-0.13919,0.13919,0
2,-1.144305,0.595320,1.797728,2.150968,-0.541457,-0.291335,-0.539365,-0.090898,-0.587052,0.383739,...,-0.124338,-0.175441,-0.087871,-0.217840,-0.69055,0.823094,-0.192346,-0.13919,0.13919,0
3,-1.144305,1.788044,2.675967,2.150968,-0.612039,-0.363564,-0.539365,-0.090898,-0.587052,0.383739,...,-0.124338,-0.175441,-0.087871,4.590522,-0.69055,-1.214928,-0.192346,7.18441,-7.18441,1
4,4.303518,-0.597403,-0.836987,-0.675509,-0.494402,-0.219107,-0.320053,-0.321119,-0.587052,-0.487735,...,-0.124338,-0.175441,-0.087871,4.590522,-0.69055,-1.214928,-0.192346,-0.13919,0.13919,0

In [14]:
df_final = df_final.sample(frac=1)
df_final.head()

,0,1,2,3,4,5,6,7,8,9,...,198,199,200,201,202,203,204,205,206,TARGET
61870,-1.144305,1.788044,2.675967,2.150968,0.446691,-0.291335,-0.539365,0.139246,-0.587052,-0.452876,...,-0.124338,-0.175441,-0.087871,-0.21784,1.44812,-1.214928,-0.192346,-0.13919,0.13919,0
120050,-1.144305,0.595320,1.702121,1.997119,-0.491365,-0.142216,-0.539365,0.704407,-0.219508,-0.034569,...,-0.124338,-0.175441,-0.087871,-0.21784,1.44812,-1.214928,-0.192346,-0.13919,0.13919,1
89984,0.217651,0.595320,0.919490,0.737730,-0.635566,-0.363564,-0.539355,-0.321042,-0.174608,1.638663,...,-0.124338,-0.175441,-0.087871,-0.21784,-0.69055,0.823094,-0.192346,-0.13919,0.13919,0
41150,1.579607,-0.597403,-0.836987,-0.675509,4.313018,1.008775,6.081464,-0.321119,0.650280,-0.487735,...,-0.124338,-0.175441,-0.087871,-0.21784,-0.69055,0.823094,-0.192346,-0.13919,0.13919,0
69393,0.217651,0.595320,0.041251,-0.675509,-0.306183,0.142035,-0.194738,0.369390,-0.621423,-0.034569,...,-0.124338,-0.175441,-0.087871,-0.21784,1.44812,-1.214928,-0.192346,-0.13919,0.13919,0

In [15]:
#data_split = int(0.9*len(df_final))
train_data = df_final#[:data_split]
#test_data = df_final[data_split:]

In [16]:
train_y = train_data.TARGET
train_x = train_data.drop('TARGET',axis=1)
#test_y = test_data.TARGET
#test_x = test_data.drop('TARGET',axis=1)

In [17]:
train_y = one_hot_encode(train_y)
#test_y = one_hot_encode(test_y)

train_x = train_x.as_matrix()
#test_x = test_x.as_matrix()

print(len(train_x[0]))

207

In [18]:
learning_rate = 0.001
training_epochs = 600
batch_size = 200

X = tf.placeholder(tf.float32,[None,207])
Y = tf.placeholder(tf.float32,[None,2])
keep_prob = tf.placeholder(tf.float32)

In [19]:
W1 = tf.get_variable("W1", shape=[207, 256],initializer=tf.contrib.layers.xavier_initializer(),dtype=tf.float32)
b1 = tf.Variable(tf.random_normal([256]))
L1 = tf.nn.relu(tf.matmul(X, W1) + b1)
L1 = tf.nn.dropout(L1, keep_prob=keep_prob)

In [20]:
W2 = tf.get_variable("W2", shape=[256, 512],initializer=tf.contrib.layers.xavier_initializer(),dtype=tf.float32)
b2 = tf.Variable(tf.random_normal([512]))
L2 = tf.nn.relu(tf.matmul(L1, W2) + b2)
L2 = tf.nn.dropout(L2, keep_prob=keep_prob)

In [21]:
W3 = tf.get_variable("W5", shape=[512, 2],initializer=tf.contrib.layers.xavier_initializer(),dtype=tf.float32)
b3 = tf.Variable(tf.random_normal([2]))
hypothesis = tf.matmul(L2, W3) + b3

In [22]:
cost = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(
    logits=hypothesis, labels=Y))


optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(cost)

In [23]:
sess=tf.Session()
sess.run(tf.global_variables_initializer())
for epoch in range(training_epochs):
    avg_cost = 0
    total_batch = int(len(features_res) / batch_size)
    for i in range(total_batch):
        randidx = np.random.randint(len(train_x),size=batch_size)
        batch_xs = train_x[randidx,:]
        batch_ys = train_y[randidx,:]
        feed_dict = {X: batch_xs, Y: batch_ys,keep_prob:0.7}
        c, _ = sess.run([cost, optimizer], feed_dict=feed_dict)
        avg_cost += c / total_batch
    if epoch%10 ==0:
        print('Epoch:', '%03d' % (epoch + 1), 'cost =', '{:.5f}'.format(avg_cost))
        #print ("Train_Accuracy: ",(sess.run(accuracy, feed_dict={X: train_x, Y: train_y,keep_prob:1})))
        #print ("Test_Accuracy: ",(sess.run(accuracy, feed_dict={X: test_x, Y: test_y,keep_prob:1})))

correct_prediction = tf.equal(tf.argmax(hypothesis,1), tf.argmax(Y,1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

#print ("Accuracy: ",(sess.run(accuracy, feed_dict={X: test_x, Y: test_y,keep_prob:1})))

Epoch: 001 cost = 0.33105
Epoch: 011 cost = 0.08696
Epoch: 021 cost = 0.05642
Epoch: 031 cost = 0.04580
Epoch: 041 cost = 0.03927
Epoch: 051 cost = 0.03328
Epoch: 061 cost = 0.02967
Epoch: 071 cost = 0.02865
Epoch: 081 cost = 0.02479
Epoch: 091 cost = 0.02334
Epoch: 101 cost = 0.02388
Epoch: 111 cost = 0.02142
Epoch: 121 cost = 0.02068
Epoch: 131 cost = 0.02061
Epoch: 141 cost = 0.01940
Epoch: 151 cost = 0.01852
Epoch: 161 cost = 0.01849
Epoch: 171 cost = 0.01647
Epoch: 181 cost = 0.01595
Epoch: 191 cost = 0.01611
Epoch: 201 cost = 0.01659
Epoch: 211 cost = 0.01571
Epoch: 221 cost = 0.01498
Epoch: 231 cost = 0.01586
Epoch: 241 cost = 0.01516
Epoch: 251 cost = 0.01372
Epoch: 261 cost = 0.01437
Epoch: 271 cost = 0.01453
Epoch: 281 cost = 0.01386
Epoch: 291 cost = 0.01375
Epoch: 301 cost = 0.01389
Epoch: 311 cost = 0.01359
Epoch: 321 cost = 0.01295
Epoch: 331 cost = 0.01312
Epoch: 341 cost = 0.01384
Epoch: 351 cost = 0.01288
Epoch: 361 cost = 0.01301
Epoch: 371 cost = 0.01220
Epoch: 381 cost = 0.01243
Epoch: 391 cost = 0.01281
Epoch: 401 cost = 0.01097
Epoch: 411 cost = 0.01098
Epoch: 421 cost = 0.01109
Epoch: 431 cost = 0.01087
Epoch: 441 cost = 0.01053
Epoch: 451 cost = 0.01077
Epoch: 461 cost = 0.01111
Epoch: 471 cost = 0.01114
Epoch: 481 cost = 0.01157
Epoch: 491 cost = 0.01043
Epoch: 501 cost = 0.01083
Epoch: 511 cost = 0.01071
Epoch: 521 cost = 0.01094
Epoch: 531 cost = 0.01065
Epoch: 541 cost = 0.01061
Epoch: 551 cost = 0.00979
Epoch: 561 cost = 0.01017
Epoch: 571 cost = 0.01025
Epoch: 581 cost = 0.01078
Epoch: 591 cost = 0.01084

In [24]:
from imblearn.over_sampling import RandomOverSampler 
ros = RandomOverSampler(random_state=42)
X_res, y_res = ros.fit_sample(normalized_features, labels)

df_1 = pd.DataFrame(features_res)
df_2 = pd.DataFrame(labels_res)
df_2.head()
df_2.columns = ['TARGET']
df_final = pd.concat([df_1,df_2],axis=1)
df_final.head()
df_final = df_final.sample(frac=1)
df_final.head()
final_y = df_final.TARGET
final_x = df_final.drop('TARGET',axis=1)

In [25]:
from imblearn.under_sampling import RandomUnderSampler 
rus = RandomUnderSampler(random_state=42)
X_res, y_res = rus.fit_sample(normalized_features, labels)

df_1 = pd.DataFrame(features_res)
df_2 = pd.DataFrame(labels_res)
df_2.head()
df_2.columns = ['TARGET']
df_final = pd.concat([df_1,df_2],axis=1)
df_final.head()
df_final = df_final.sample(frac=1)
df_final.head()
final_y = df_final.TARGET
final_x = df_final.drop('TARGET',axis=1)

In [26]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler ,normalize
from sklearn import preprocessing

C:\Users\my\Miniconda3\envs\ml_python\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [27]:
train_y_ = train_data.TARGET
train_x_ = train_data.drop('TARGET',axis=1)

In [28]:
# fit model no training data
model = XGBClassifier(learning_rate=0.2,max_depth=7,base_score=0.5,max_delta_step=0,n_estimators=100)

pipe = Pipeline([['xg',MinMaxScaler(feature_range=(0,5))],['model',model]])
pipe.fit(train_x_,train_y_)

Pipeline(memory=None,
     steps=[('xg', MinMaxScaler(copy=True, feature_range=(0, 5))), ['model', XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.2, max_delta_step=0, max_depth=7,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=True, subsample=1)]])

In [29]:
from sklearn.metrics import classification_report
print("ACCURACY:",pipe.score(final_x,final_y))
print(classification_report(final_y,pipe.predict(final_x)))

ACCURACY: 0.982095530211
             precision    recall  f1-score   support

          0       0.98      1.00      0.99     95946
          1       0.99      0.94      0.97     38378

avg / total       0.98      0.98      0.98    134324

In [30]:
tensor_y = one_hot_encode(final_y)
tensor_x = final_x.as_matrix()
print ("TEST Accuracy: ",(sess.run(accuracy, feed_dict={X: tensor_x, Y: tensor_y,keep_prob:1})))

TEST Accuracy:  0.999859

In [31]:
import sklearn as sk
from sklearn.metrics import confusion_matrix

y_p = tf.argmax(hypothesis, 1)
test_accuracy, y_pred = sess.run([accuracy, y_p], feed_dict={X:tensor_x, Y:tensor_y,keep_prob:1})
# print ("validation accuracy:", val_accuracy)
y_true = np.argmax(tensor_y,1)
print ("Precision", sk.metrics.precision_score(y_true, y_pred))
print ("Recall", sk.metrics.recall_score(y_true, y_pred))
print ("f1_score", sk.metrics.f1_score(y_true, y_pred))

Precision 0.999505169675
Recall 1.0
f1_score 0.999752523608