#### smote + enn
          precision    recall  f1-score   support

          0       0.98      0.96      0.97      1920
          1       0.35      0.51      0.41        80

avg / total       0.95      0.94      0.95      2000

ACCURACY: 0.942

#### smote enn 결측치 2개 delete 했을 때

          precision    recall  f1-score   support

          0       0.98      0.95      0.96      1920
          1       0.28      0.51      0.37        80

avg / total       0.95      0.93      0.94      2000

ACCURACY: 0.929

#### ADASYN

          precision    recall  f1-score   support

          0       0.98      0.97      0.97      1920
          1       0.38      0.46      0.42        80

avg / total       0.95      0.95      0.95      2000

ACCURACY: 0.9485

#### Random oversampling
             precision    recall  f1-score   support

          0       0.98      0.94      0.96      1920
          1       0.30      0.65      0.41        80

avg / total       0.96      0.93      0.94      2000

ACCURACY: 0.9265

### 비식별처리 replace , fillna 해도 비식별처리로 인식됨

In [1]:
import pandas as pd
import numpy as np
import os
from imblearn.combine import SMOTEENN
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.metrics import classification_report
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler ,normalize
from sklearn import preprocessing
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylabA
import seaborn as sns

/home/rosa/miniconda3/envs/py36/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv('./Data_set.csv',encoding='cp949')
df1 = pd.read_csv('./Test_set.csv',encoding='cp949')
df1.AGE.value_counts(0)

50    382
45    374
55    322
40    309
35    214
60    191
30     92
65     68
25     53
70      5
20      5
*       4
Name: AGE, dtype: int64

In [3]:
# df.info()

In [4]:
df.AGE

df.AGE = df.AGE.replace('*',46)
df.AGE = pd.Series(df.AGE).convert_objects(convert_numeric=True)
df.AGE = df.AGE.replace(0,df.AGE.mean())
# df.AGE

/home/rosa/miniconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.

In [5]:
df.SEX
df.SEX = df.SEX.replace('*',1)
df.SEX = pd.Series(df.SEX).convert_objects(convert_numeric=True)
# df.SEX

/home/rosa/miniconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
df.TEL_CNTT_QTR = df.TEL_CNTT_QTR.astype(str)
df.MIN_CNTT_DATE = df.MIN_CNTT_DATE.astype(str)

In [7]:
#무조건
del df['CUST_ID']
# null
del df['MATE_OCCP_NAME_G']
del df['OCCP_NAME_G']
del df['LAST_CHLD_AGE']
del df['TEL_MBSP_GRAD']
del df['PAYM_METD']

In [8]:
# #대출정보 총 건수 합치기


# del df['ACTL_FMLY_NUM']
# del df['CUST_FMLY_NUM']
# del df['MATE_JOB_INCM']
# del df['FMLY_GDINS_MNPREM']
# del df['FMLY_SVINS_MNPREM']
# del df['FMLY_TOT_PREM']
# del df['FYCM_PAID_AMT']
# del df['FMLY_CLAM_CNT']
# del df['FMLY_PLPY_CNT']

In [9]:
df = pd.get_dummies(df)

In [10]:
df_test = df[:2000]
df_train = df[2000:]

In [11]:
x_data = df_train.drop('TARGET',axis=1)
y_data = df_train.TARGET

In [12]:
X = x_data
y = y_data
from imblearn.over_sampling import ADASYN 
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import CondensedNearestNeighbour 

# undersampling
# cnn = CondensedNearestNeighbour(random_state=42) 
# X_resampled, y_resampled = cnn.fit_sample(X, y)

#RANDOM 
# ros = RandomOverSampler(random_state=42)
# X_resampled, y_resampled = ros.fit_sample(X, y)

#ADASYN
# ada = ADASYN(random_state=42,n_neighbors=3)
# X_resampled, y_resampled = ada.fit_sample(X, y)

# Apply SMOTE + ENN
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_sample(X, y)

In [13]:
df.corrwith(y_data).sort_values(ascending=True)

CTCD_OCCR_MDIF         -0.174728
CRDT_CARD_CNT          -0.173039
BNK_LNIF_AMT           -0.088912
BNK_LNIF_CNT           -0.087524
LINE_STUS_U            -0.073696
TOT_LNIF_AMT           -0.073059
LT1Y_PEOD_RATE_0       -0.065758
CBPT_MBSP_YN_Y         -0.047461
MOBL_FATY_PRC          -0.043736
MOBL_PRIN              -0.041667
AGE                    -0.036190
FMLY_PLPY_CNT          -0.033478
TOT_CLIF_AMT           -0.025640
CUST_FMLY_NUM          -0.012149
HSHD_INFR_INCM         -0.011874
AVG_CALL_FREQ          -0.011864
TEL_CNTT_QTR_20161     -0.009623
ACTL_FMLY_NUM          -0.008925
TEL_CNTT_QTR_20143     -0.008758
TEL_CNTT_QTR_20151     -0.008507
TEL_CNTT_QTR_20074     -0.007881
TEL_CNTT_QTR_20023     -0.007418
TEL_CNTT_QTR_20162     -0.005991
TEL_CNTT_QTR_20021     -0.005767
TEL_CNTT_QTR_20001     -0.005702
TEL_CNTT_QTR_19994     -0.005656
TOT_PREM               -0.005327
TEL_CNTT_QTR_20062     -0.005217
TEL_CNTT_QTR_19983     -0.005079
MIN_CNTT_DATE_201109   -0.004961
                          ...
CB_GUIF_CNT             0.015309
GDINS_MON_PREM          0.015766
MAX_MON_PREM            0.016451
LT1Y_PEOD_RATE_20미만     0.019331
NUM_DAY_SUSP            0.020912
LT1Y_SLOD_RATE          0.021099
LT1Y_PEOD_RATE_40미만     0.021664
LT1Y_PEOD_RATE_60미만     0.025010
LT1Y_PEOD_RATE_30미만     0.026110
TLFE_UNPD_CNT           0.026112
ARPU                    0.027706
LT1Y_PEOD_RATE_50미만     0.031095
CNTT_LAMT_CNT           0.032143
CPT_LNIF_AMT            0.034226
CRDT_OCCR_MDIF          0.046114
CBPT_MBSP_YN_N          0.047461
LT1Y_CTLT_CNT           0.050665
MON_TLFE_AMT            0.053171
PREM_OVDU_RATE          0.055230
LT1Y_PEOD_RATE_90미만     0.067469
AUTR_FAIL_MCNT          0.070532
LT1Y_PEOD_RATE_90이상     0.070631
LINE_STUS_S             0.073696
ECT_LNIF_CNT            0.112846
CPT_LNIF_CNT            0.113944
SPTCT_OCCR_MDIF         0.133714
SPART_LNIF_CNT          0.157437
CRMM_OVDU_AMT           0.203845
LT1Y_MXOD_AMT           0.208866
TARGET                  1.000000
Length: 363, dtype: float64

In [14]:
df['CTCD_OCCR_MDIF']*=2
df['CRDT_CARD_CNT']*=2
df['BNK_LNIF_AMT']*=2
df['BNK_LNIF_CNT']*=2
df['LINE_STUS_U']*=2

In [15]:
df_1 = pd.DataFrame(X_resampled)
df_2 = pd.DataFrame(y_resampled)
df_2.columns = ['TARGET']
df_final = pd.concat([df_1,df_2],axis=1)
df_final.head()

,0,1,2,3,4,5,6,7,8,9,...,353,354,355,356,357,358,359,360,361,TARGET
0,0.0,0.0,1.0,1.0,48001.0,48001.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1,2.0,0.0,0.0,0.0,48001.0,1.0,48001.0,0.0,13.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
2,1.0,0.0,0.0,0.0,9001.0,9001.0,9001.0,0.0,25.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,2.0,0.0,0.0,0.0,39001.0,39001.0,39001.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
4,0.0,0.0,0.0,1.0,132001.0,132001.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [16]:
df_final = df_final.sample(frac=1)
df_final.head()

,0,1,2,3,4,5,6,7,8,9,...,353,354,355,356,357,358,359,360,361,TARGET
113795,0.000000,0.000000,1.266764,1.266764,801.290628,801.290628,0.000000,0.000000,33.798837,49.804650,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,1
146529,0.539619,2.460381,3.460381,1.000000,178427.269374,157427.269374,3238.251181,27669.009532,18.524577,24.049154,...,0.0,0.0,0.539619,0.0,0.0,0.0,0.0,0.0,1.0,1
33530,2.000000,0.000000,0.000000,0.000000,108001.000000,0.000000,108001.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0
116017,0.000000,0.284204,1.142102,0.857898,3427.306512,3427.306512,0.000000,852.755126,23.294774,23.294774,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,1
87967,0.000000,1.091091,1.091091,0.000000,4640.646606,4367.372172,0.000000,4640.646606,78.441414,79.534511,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,1

In [17]:
train_y = df_final.TARGET
train_x = df_final.drop('TARGET',axis=1)

In [18]:
test_y = df_test.TARGET
test_x = df_test.drop('TARGET',axis=1)

In [19]:
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0,5))
train_x = min_max_scaler.fit_transform(train_x)
test_x = min_max_scaler.fit_transform(test_x)

In [20]:
from sklearn import linear_model
reg = linear_model.LogisticRegression()
reg.fit(train_x,train_y)
score = reg.score(test_x,test_y)
print('Logistic Regression Accuracy : ',score)

Logistic Regression Accuracy :  0.8255

In [ ]:
# from sklearn.metrics import classification_report
# print(classification_report(test_y,reg.predict(test_x)))

In [ ]:
# reg2 = linear_model.LogisticRegression(class_weight='balanced')
# reg2.fit(train_x,train_y)
# score2 = reg2.score(test_x,test_y)
# print('Logistic Regression used class weight ' ,score2)
# print(classification_report(test_y,reg2.predict(test_x)))

In [21]:
# fit model no training data
model = XGBClassifier(learning_rate=0.2,max_depth=7,base_score=0.5,max_delta_step=0,n_estimators=100)

pipe = Pipeline([['xg',MinMaxScaler(feature_range=(0,5))],['model',model]])
pipe.fit(train_x,train_y)
print(classification_report(test_y,pipe.predict(test_x)))
print("ACCURACY:",pipe.score(test_x,test_y))

             precision    recall  f1-score   support

          0       0.98      0.95      0.96      1920
          1       0.30      0.53      0.38        80

avg / total       0.95      0.93      0.94      2000

ACCURACY: 0.9315