#### smote + enn
          precision    recall  f1-score   support

          0       0.98      0.96      0.97      1920
          1       0.35      0.51      0.41        80

avg / total       0.95      0.94      0.95      2000

ACCURACY: 0.942

#### smote enn 결측치 2개 delete 했을 때

          precision    recall  f1-score   support

          0       0.98      0.95      0.96      1920
          1       0.28      0.51      0.37        80

avg / total       0.95      0.93      0.94      2000

ACCURACY: 0.929

#### ADASYN

          precision    recall  f1-score   support

          0       0.98      0.97      0.97      1920
          1       0.38      0.46      0.42        80

avg / total       0.95      0.95      0.95      2000

ACCURACY: 0.9485

#### Random oversampling
             precision    recall  f1-score   support

          0       0.98      0.94      0.96      1920
          1       0.30      0.65      0.41        80

avg / total       0.96      0.93      0.94      2000

ACCURACY: 0.9265

### 비식별처리 replace , fillna 해도 비식별처리로 인식됨

In [1]:
import pandas as pd
import numpy as np
import os
from imblearn.combine import SMOTEENN
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.metrics import classification_report
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler ,normalize
from sklearn import preprocessing
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
%matplotlib inline
mpl.style.use( 'ggplot' )
sns.set_style( 'white' )
pylab.rcParams[ 'figure.figsize' ] = 8 , 6

/home/rosa/miniconda3/envs/py36/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv('./Data_set.csv',encoding='cp949')
df1 = pd.read_csv('./Test_set.csv',encoding='cp949')
# df1.AGE.value_counts(0)

In [4]:
# df.key()

In [6]:
df.AGE

df.AGE = df.AGE.replace('*',46)
df.AGE = pd.Series(df.AGE).convert_objects(convert_numeric=True)
df.AGE = df.AGE.replace(0,df.AGE.mean())
# df.AGE

/home/rosa/miniconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.

In [7]:
df.SEX
df.SEX = df.SEX.replace('*',1)
df.SEX = pd.Series(df.SEX).convert_objects(convert_numeric=True)

/home/rosa/miniconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
df.TEL_CNTT_QTR = df.TEL_CNTT_QTR.astype(str)
df.MIN_CNTT_DATE = df.MIN_CNTT_DATE.astype(str)

In [9]:
# df.PAYM_METD = df.PAYM_METD.fillna('O')
# df.TEL_MBSP_GRAD = df.TEL_MBSP_GRAD.fillna('R')
# df.MATE_OCCP_NAME_G = df.MATE_OCCP_NAME_G.fillna('주부')
# df.OCCP_NAME_G = df.OCCP_NAME_G.fillna('주부')
# df.LAST_CHLD_AGE = df.LAST_CHLD_AGE.fillna(df.LAST_CHLD_AGE.mean())

In [10]:
# # *가 있으면 그 줄을 그냥 지워버려라
# for i in range(100234):
#     print (df['OCCCP_NAME_G'](i) is '*')

In [11]:
df['total_cnt'] = df['SPART_LNIF_CNT']+df['ECT_LNIF_CNT']+df['BNK_LNIF_CNT']+df['CPT_LNIF_CNT']

In [12]:
#무조건
del df['CUST_ID']
#null
del df['MATE_OCCP_NAME_G']
del df['OCCP_NAME_G']
del df['LAST_CHLD_AGE']
del df['TEL_MBSP_GRAD']
del df['PAYM_METD']

In [13]:
#대출정보 현재 총 건수 필쳐 합치기
# sum(df['BNK_LNIF_CNT'],df['CPT_LNIF_CNT'],df['SPART_LNIF_CNT'],df['ECT_LNIF_CNT'])
del df['BNK_LNIF_CNT']
del df['CPT_LNIF_CNT']
del df['SPART_LNIF_CNT']
del df['ECT_LNIF_CNT']

In [14]:
df = pd.get_dummies(df)

In [15]:
df_test = df[:2000]
df_train = df[2000:]

In [16]:
x_data = df_train.drop('TARGET',axis=1)
y_data = df_train.TARGET

In [17]:
X = x_data
y = y_data
from imblearn.over_sampling import ADASYN 
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import CondensedNearestNeighbour 

# undersampling
# cnn = CondensedNearestNeighbour(random_state=42) 
# X_resampled, y_resampled = cnn.fit_sample(X, y)

#RANDOM 
# ros = RandomOverSampler(random_state=42)
# X_resampled, y_resampled = ros.fit_sample(X, y)

#ADASYN
# ada = ADASYN(random_state=42,n_neighbors=3)
# X_resampled, y_resampled = ada.fit_sample(X, y)

# Apply SMOTE + ENN
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_sample(X, y)

In [18]:
df_1 = pd.DataFrame(X_resampled)
df_2 = pd.DataFrame(y_resampled)
df_2.columns = ['TARGET']
df_final = pd.concat([df_1,df_2],axis=1)
df_final.head()

,0,1,2,3,4,5,6,7,8,9,...,350,351,352,353,354,355,356,357,358,TARGET
0,48001.0,48001.0,0.0,0.0,1.0,1.0,3.0,121.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1,48001.0,1.0,48001.0,0.0,13.0,0.0,2.0,109.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
2,9001.0,9001.0,9001.0,0.0,25.0,0.0,3.0,121.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
3,39001.0,39001.0,39001.0,0.0,1.0,0.0,5.0,109.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
4,132001.0,132001.0,0.0,0.0,1.0,0.0,3.0,121.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0

In [19]:
df_final = df_final.sample(frac=1)
df_final.head()

,0,1,2,3,4,5,6,7,8,9,...,350,351,352,353,354,355,356,357,358,TARGET
28088,18001.000000,18001.000000,18001.000000,0.000000,97.000000,0.000000,2.000000,121.000000,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.0,0
86485,1.000000,1.000000,0.000000,1.000000,26.952108,34.301405,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.387559,0.0,0.0,1.0,1
140985,1566.058808,1566.058808,1566.058808,0.478314,18.739765,11.957843,1.434941,40.656667,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.0,1
26747,9001.000000,9001.000000,9001.000000,0.000000,37.000000,0.000000,3.000000,49.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.0,0
116737,1.000000,0.999547,0.000000,0.000453,36.983255,36.983255,1.000000,97.010862,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.0,1

In [20]:
train_y = df_final.TARGET
train_x = df_final.drop('TARGET',axis=1)

In [21]:
test_y = df_test.TARGET
test_x = df_test.drop('TARGET',axis=1)

In [22]:
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0,5))
train_x = min_max_scaler.fit_transform(train_x)
test_x = min_max_scaler.fit_transform(test_x)

In [23]:
from sklearn import linear_model
reg = linear_model.LogisticRegression()
reg.fit(train_x,train_y)
score = reg.score(test_x,test_y)
print('Logistic Regression Accuracy : ',score)

Logistic Regression Accuracy :  0.813

In [24]:
from sklearn.metrics import classification_report
print(classification_report(test_y,reg.predict(test_x)))

             precision    recall  f1-score   support

          0       0.99      0.81      0.89      1920
          1       0.15      0.82      0.26        80

avg / total       0.96      0.81      0.87      2000

In [25]:
reg2 = linear_model.LogisticRegression(class_weight='balanced')
reg2.fit(train_x,train_y)
score2 = reg2.score(test_x,test_y)
print('Logistic Regression used class weight ' ,score2)
print(classification_report(test_y,reg2.predict(test_x)))

Logistic Regression used class weight  0.8295
             precision    recall  f1-score   support

          0       0.99      0.83      0.90      1920
          1       0.17      0.81      0.28        80

avg / total       0.96      0.83      0.88      2000

In [26]:
# fit model no training data
model = XGBClassifier(learning_rate=0.2,max_depth=7,base_score=0.5,max_delta_step=0,n_estimators=100)

pipe = Pipeline([['xg',MinMaxScaler(feature_range=(0,5))],['model',model]])
pipe.fit(train_x,train_y)
print(classification_report(test_y,pipe.predict(test_x)))
print("ACCURACY:",pipe.score(test_x,test_y))

             precision    recall  f1-score   support

          0       0.98      0.93      0.96      1920
          1       0.27      0.61      0.37        80

avg / total       0.95      0.92      0.93      2000

ACCURACY: 0.9175